
{% extends 'base.html' %}

{% load static %}

{% block title %}
        <title>New Lot</title>{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-body">
      <div class="border p-3 rounded">
      <h6 class="mb-0 text-uppercase">Sample Request form</h6>
       <hr/>
       <form class="row g-3" enctype="multipart/form-data" method="post" action="{% url 'form_view' %}">
        {% csrf_token %}
        <div class="col-4">
          <label class="form-label " for="id_wbs">WBS</label>
          <select id="wbs" name="wbs"  class="form-select mb-2">
            <option value="">Select WBS</option>
            {% for wbs in wbs_list %}
            <option value="{{ wbs.id }}">{{ wbs.name }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-4">
            <label class="form-label" for="factory">Factory</label>
            <select name="factory" id="factory" class="form-select mb-2">
              <option value="">Select a factory</option>
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="bu">BU</label>
            <select name="bu" id="bu" class="form-select mb-2">
              <option value="">Select a BU</option>
          </select>
  
          </div>
          <div class="col-4">
            <label class="form-label" for="department">Department</label>
            <select name="department" id="department" class="form-select mb-2">
              <option value="">Select a department</option>
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="project_group">Project Group</label>
            <select name="project_group" id="project_group" class="form-select mb-2">
              <option value="">Select a project group</option>
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="requestor">Requestor</label>
            <select name="requestor" id="requestor" class="form-select mb-2">
              <option value="">Select a requestor</option>
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="litho">Litho</label>
            <select name="litho" id="litho" class="form-select mb-2">
              <option value="">Select a Litho</option>
              {% for litho in litho_list %}
            <option value="{{ litho.id }}">{{ litho.name }}</option>
            {% endfor %}
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="reticle">Reticle</label>
            <select name="reticle" id="reticle" class="form-select mb-2">
              <option value="">Select a reticle</option>
              {% for reticle in reticle_list %}
            <option value="{{ reticle.id }}">{{ reticle.name }}</option>
            {% endfor %}
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="integrator">Integrator</label>
            <select name="integrator" id="integrator" class="form-select mb-2">
              <option value="">Select a integrator</option>
              {% for integrator in integrator_list %}
            <option value="{{ integrator.id }}">{{ integrator.name }}</option>
            {% endfor %}
          </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="topic">Topic</label>
            <input type="text" name="topic" id="topic" class="form-control mb-2" required pattern="[a-zA-Z0-9 ]+">
          </div>
          <div class="col-4">
            <label class="form-label" for="special_focus">Special Focus</label>
            <input type="text" name="special_focus" id="special_focus" class="form-control mb-2" required pattern="[a-zA-Z0-9 ]+">
          </div>
          <div class="col-4">
            <label class="form-label" for="request_type">Requestor Type</label>
            <select id="request_type" name="request_type" class="form-select mb-2">
                <option value="">Select Request Type</option>
                {% for request_type in request_type_list %}
                <option value="{{ request_type.id }}">{{ request_type.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-4">
            <label class="form-label" for="estimated_end_date">Estimated End Date</label>
            <input type="date" id="estimated_end_date"  class="form-control mb-2" name="estimated_end_date" required>
          </div>
          <div class="col-4">
            <label class="form-label" for="samples">No.Of Samples</label>
            <input type="text" id="no_of_samples" class="form-control mb-2" name="no_of_samples" pattern="[0-9]+" required>
          </div> 
          <div class="col-4">
            <label class="form-label" for="photo">Image</label>
            <select name="photo" id="photo" class="form-select mb-2" onchange="updateImagePreview(this)">
                <option value="" data-url="">Select an Image</option>
                {% for photo in photo_list %}
                    <option value="{{ photo.id }}" data-url="{{ photo.name.url }}">{{ photo.name.url }}</option>
                {% endfor %}
            </select>
            <div id="image-preview" style="margin-top: 10px;">
                <img id="preview-img" src="" alt="Image Preview" style="width: 100px; height: 100px; display: none;" />
            </div>
          </div>
          
          <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
      </form>
      
    </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#wbs').change(function() {
              var wbsId = $(this).val();
              if (wbsId) {
                  $.ajax({
                      url: '/get-factories/',
                      data: {'wbs_id': wbsId},
                      success: function(data) {
                          $('#factory').html('<option value="">Select Factory</option>');
                          data.forEach(function(factory) {
                              $('#factory').append('<option value="'+ factory.id +'">'+ factory.name +'</option>');
                          });
                      }
                  });
              } else {
                  $('#factory').html('<option value="">Select Factory</option>');
              }
          });
  
          $('#factory').change(function() {
              var factoryId = $(this).val();
              if (factoryId) {
                  $.ajax({
                      url: '/get-bus/',
                      data: {'factory_id': factoryId},
                      success: function(data) {
                          $('#bu').html('<option value="">Select BU</option>');
                          data.forEach(function(bu) {
                              $('#bu').append('<option value="'+ bu.id +'">'+ bu.name +'</option>');
                          });
                      }
                  });
  
                  $.ajax({
                      url: '/get-project-groups/',
                      data: {'factory_id': factoryId},
                      success: function(data) {
                          $('#project_group').html('<option value="">Select Project Group</option>');
                          data.forEach(function(pg) {
                              $('#project_group').append('<option value="'+ pg.id +'">'+ pg.name +'</option>');
                          });
                      }
                  });
  
                  $.ajax({
                      url: '/get-requestors/',
                      data: {'factory_id': factoryId},
                      success: function(data) {
                          $('#requestor').html('<option value="">Select Requestor</option>');
                          data.forEach(function(requestor) {
                              $('#requestor').append('<option value="'+ requestor.id +'">'+ requestor.name +'</option>');
                          });
                      }
                  });
              } else {
                  $('#bu').html('<option value="">Select BU</option>');
                  $('#project_group').html('<option value="">Select Project Group</option>');
                  $('#requestor').html('<option value="">Select Requestor</option>');
              }
          });
  
          $('#bu').change(function() {
              var buId = $(this).val();
              if (buId) {
                  $.ajax({
                      url: '/get-departments/',
                      data: {'bu_id': buId},
                      success: function(data) {
                          $('#department').html('<option value="">Select Department</option>');
                          data.forEach(function(department) {
                              $('#department').append('<option value="'+ department.id +'">'+ department.name +'</option>');
                          });
                      }
                  });
              } else {
                  $('#department').html('<option value="">Select Department</option>');
              }
          });
      });
  </script>
  <script>
      function updateImagePreview(selectElement) {
          var selectedOption = selectElement.options[selectElement.selectedIndex];
          var imageUrl = selectedOption.getAttribute('data-url');
          var previewImg = document.getElementById('preview-img');
          
          if (imageUrl) {
              previewImg.src = imageUrl;
              previewImg.style.display = 'block';
          } else {
              previewImg.style.display = 'none';
          }
      }
  </script>
   
{% endblock content %}
