{% if combined_data %}
<div class="row">

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Topic</p>
          <h4 class="my-1">{{ combined_data.lot.topic }}</h4>
        </div>
        <i class="fa-solid fa-bookmark fa-lg text-primary"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Project Name</p>
          <h4 class="my-1">{{ combined_data.lot.project_factory_date_code }}</h4>
        </div>
        <i class="fa-solid fa-diagram-project fa-lg text-success"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Factory</p>
          <h4 class="my-1">{{ combined_data.lot.factory.name }}</h4>
        </div>
        <i class="fa-solid fa-industry fa-lg text-secondary"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">BU</p>
          <h4 class="my-1">{{ combined_data.lot.bu.name }}</h4>
        </div>
        <i class="fa-solid fa-building fa-lg text-secondary"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Department</p>
          <h4 class="my-1">{{ combined_data.lot.department.name }}</h4>
        </div>
        <i class="fa-solid fa-users-cog fa-lg text-secondary"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Start Date</p>
          <h4 class="my-1">{{ combined_data.lot.created_at }}</h4>
        </div>
        <i class="fa-solid fa-calendar-day fa-lg text-warning"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">End Date</p>
          <h4 class="my-1">{{ combined_data.lot.end_date }}</h4>
        </div>
        <i class="fa-solid fa-calendar-check fa-lg text-danger"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Lot Status</p>
          <h4 class="my-1">{{ combined_data.status }}</h4>
        </div>
        <i class="fa-solid fa-info-circle fa-lg text-info"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Total Lot Turns</p>
          <h4 class="my-1">{{ combined_data.total_lot_turns }}</h4>
        </div>
        <i class="fa-solid fa-recycle fa-lg text-info"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">3400 EUV in Hr's</p>
          <h4 class="my-1">{{ combined_data.total_EUV_3400 }}</h4>
        </div>
        <i class="fa-solid fa-bolt-lightning fa-lg text-pink"></i>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card radius-10">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-0 text-secondary">Shipment</p>
          <h4 class="my-1">{{ combined_data.lot.location }}</h4>
        </div>
        <i class="fa-solid fa-truck-fast fa-lg text-secondary"></i>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card radius-10">
      <div class="card-body">
        <h6 class="text-center text-secondary mb-4">Project Support Time in Hr's</h6>
        <div class="row text-center justify-content-around">
          <div class="col">
            <h4 class="my-1">{{ combined_data.lot.development }}</h4>
            <p class="text-muted mb-0"><i class="fa-solid fa-flask-vial me-1"></i>Development</p>
          </div>
          <div class="col">
            <h4 class="my-1">{{ combined_data.lot.duplo }}</h4>
            <p class="text-muted mb-0"><i class="fa-solid fa-cube me-1"></i>Duplo</p>
          </div>
          <div class="col">
            <h4 class="my-1">{{ combined_data.lot.metrology }}</h4>
            <p class="text-muted mb-0"><i class="fa-solid fa-microscope me-1"></i>Metrology</p>
          </div>
          <div class="col">
            <h4 class="my-1">{{ combined_data.lot.other }}</h4>
            <p class="text-muted mb-0"><i class="fa-solid fa-ellipsis-h me-1"></i>Other</p>
          </div>
          <div class="col">
            <h4 class="my-1">{{ combined_data.total_flow }}</h4>
            <p class="text-muted mb-0"><i class="fa-solid fa-equals me-1"></i>Total</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endif %}
